@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #111;
    color: #efefef;
    font-family: 'roboto';
}
.row-post-container{
    position: relative;
    margin-top: 150px;
}