.row-post{
    padding: 0px 0 35px 6%;
    
    
}
.banner-row-post{
    padding: 35px 0 35px 6%;
    position: absolute;
    top: 72%;
    width: 100%;
}
.posters{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 10px;
}
.posters::-webkit-scrollbar{
    display: none;
}
.poster-img{
    /* max-height: 150px; */
    object-fit: cover;
    
    max-height: 100px;
}
.large-poster{
    max-height: 150px;
}
.player{
    display: flex;
    gap: 40px;
    margin-top: 40px;
}
.player i{
    margin-top: 20px;
}
.player iframe{
    border-radius: 10px;
}