.banner{
    
    background-size: cover;
    height: 500px;
    position: relative;
   
}
.content{
  position: absolute;
  width: 100%;
  padding-left: 6%;
  top: 45%;

}
.content h2{
  margin-bottom: 12px;
  font-size: 3rem;
  font-weight: 800;
}
.banner .description{
  width: 500px;
  font-size: 15px;
  margin-bottom: 20px;
}
.banner-button{
  display: flex;
  gap: 10px;
}
.banner-button .btn{
  display: flex;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  outline: none;
  border: none;
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.banner-button .btn-dark{
  background-color: #6d6d6eb3;
  color: #fff;
}
.banner-button img{
  width: 20px;
}
.fade-bottom{
  height: 500px;
  background-image: linear-gradient(217deg,transparent,rgba(37,37,37,.61),#111);
}
.banner-button .btn:hover{
  background-color: #ffffffbf;
}
.banner-button .btn-dark:hover{
  background-color: #6d6d6e66;
}
